body {
    font-family: 'Science Gothic', sans-serif;
    color: whitesmoke;
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    text-decoration:underline;
}

p {
    text-align: justify;
}

.Center {
    text-align: center;
}