html {
    scroll-behavior: smooth;
}

h1 {
    text-decoration:underline;
}

h3 {
    text-decoration:underline;
}

p {
    text-align: justify;
}

a {
    color:aqua;
}

img {
    object-fit: cover;
    border-radius: 50%;
}

body {
    font-family: 'Science Gothic', sans-serif;
    color: whitesmoke;
    background-color: rgb(40, 40, 40);
}

header {
    display: flex;
    justify-content: center; 
    justify-content: space-between;
    justify-content: space-around;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
}

nav {
    background-color: rgb(26, 26, 26);

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 10;

    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}

main 
{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

hr {
    color: rgb(147, 147, 147);
}

.Presentation {
    text-align: center;
}

.Button {
    color: whitesmoke;
    text-decoration:none;
}