h1 {
    text-decoration:underline;
}

p {
    text-align: justify;
}

img {
    object-fit: cover;
    width: auto;
    min-width: 100%;
    max-width: 100%;
}

body {
    font-family: 'Science Gothic', sans-serif;
    color: whitesmoke;
    margin-left: 10%;
    margin-right: 10%;
}

header {
    display: flex;
    justify-content: center; 
    justify-content: space-between;
    justify-content: space-around;
    margin-left: 15%;
    margin-right: 15%;
}

.Presentation {
    text-align: center;
}